eval "$(/opt/homebrew/bin/brew shellenv)"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

# Add .NET Core SDK tools
export PATH="$PATH:{{ ansible_user_dir }}/.dotnet/tools"

eval "$(zoxide init zsh)"
eval "$(fzf --zsh)"

if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config $(brew --prefix oh-my-posh)/themes/M365Princess.omp.json)"
fi

export GOPATH="{{ ansible_user_dir }}/go"

export PATH="$PATH:{{ ansible_user_dir }}/.local/bin"
export PATH="$PATH:{{ ansible_user_dir }}/.cargo/bin"

PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH"
PATH="/opt/homebrew/Cellar/john-jumbo/1.9.0_1/share/john:$PATH"
PATH="$GOPATH/bin:$PATH"

export PATH="$PATH":"$HOME/.pub-cache/bin"

alias ll='ls -lGa'
alias lg='lazygit'
alias k='kubectl'
alias ns='/opt/homebrew/bin/netcat'
alias py='python3'

export JAVA_HOME="/opt/homebrew/opt/openjdk@17/bin"
export ANDROID_HOME="{{ ansible_user_dir }}/Library/Android/sdk"
export PATH="$PATH:$ANDROID_HOME/tools:$ANDROID_HOME/platform-tools"
export PATH="/opt/homebrew/opt/openjdk@17/bin:$PATH"

if [ -d "/opt/homebrew/opt/ruby/bin" ]; then
  export PATH=/opt/homebrew/opt/ruby/bin:$PATH
  export PATH=`gem environment gemdir`/bin:$PATH
fi
