import = [ "C:/Users/{{ wsl_host_user }}/AppData/Roaming/alacritty/rosepine.toml" ]
working_directory = "C:/Users/{{ wsl_host_user }}/"

[shell]
program = "wsl.exe"
args = ["tmux attach || tmux new-session -s main"]

[window]
dynamic_title = false
title = "Terminals are better than GUIs"
dimensions = { columns = 100, lines = 30 }

[font]
normal = {family = "CaskaydiaCove NF", style = "Regular"}

[keyboard]
bindings = [
       { key = "Space", mods = "Control", chars = "\u0000" }
]
